:root {
  --black0: #F7F8FA;
  --black100: #E6EAEE;
  --black200: #CBCED2;
  --black300: #B0B3B9;
  --black400: #8D96A2;
  --black500: #7C838D;
  --black600: #4C5767;
  --black700: #353C47;
  --black800: #1D2127;
  --black: #202020;
  --cyan: #11C3CB;
  --aqua: #0083C7;
  --white: #FFFFFF;
  --white700: #F3F3F3;
  --red: #F82727;
  --lgreen: #00c58e;
}

.dark-mode {
  --black0: #000000;
  --black100: #262626;
  --black200: #343434;
  --black300: #B0B3B9;
  --black400: #8D96A2;
  --black500: #7C838D;
  --black600: #93AACBFF;
  --black700: #a4b9d9;
  --black800: #BBD3F8FF;
  --black: #FFFFFF;
  --cyan: #11C3CB;
  --aqua: #0083C7;
  --white: #000000;
  --red: #F82727;
  --lgreen: #00c58e;
}
