@import "modal";
@import "breakpoints";
@import "container";
@import "btn";
@import "other";
@import "typography";

:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --color-primary-btn: #63BCD8;
  --color-primary-input: #F3F5FA;
  --bg: #ffffff;
  --bg-secondary: #fff;
  --border-color: #ddd;
}
.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --color-primary-btn: #3b4849;
  --color-primary-input: #090909;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}
body {
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 2s;
}


$spaceamounts: (2, 4, 8, 16, 32, 40,60, 64, 128,377);
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.w-100 {
  display: block;
  width: 100%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex--space {
  justify-content: space-between;
}
.flex--center {
  justify-content: center;
  align-content: center;
}
.flex--end {
  justify-content: flex-end;
}
.flex--start {
  justify-content: flex-start;
}
.flex--justify-self-end {
  margin-left: auto;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

